{% extends "base.html" %}
{% block content %}
    {% if triedy %}
    <div class="container pt-4">
    <h2>Triedy</h2>
    <ul class="list-group">
        {% for trieda in triedy %}
        <li class="list-group-item"><a class="link-offset-2 link-underline link-underline-opacity-0"  href="{% url 'trieda' trieda=trieda %}">{{trieda}}</a></li>
        {% endfor %}
    </ul>
    </div>
    {% endif %}
    {% if ucitelia %}
    <div class="container pt-4">    
    <h2>Učitelia</h2>
    <ul class="list-group">
        {% for ucitel in ucitelia %}
        <li class="list-group-item">{{ucitel}}</li>
        {% endfor %}
    </ul>
    </div>
    {% endif %}
    {% if studenti %}
    <div class="container pt-4">
    <h2>Študenti</h2>
    <ul class="list-group">
        {% for student in studenti %}
        <li class="list-group-item">{{student}}</li>
        {% endfor %}
    </ul>
    </div>
    {% endif %}
{% endblock  %}